<!DOCTYPE html>
<html>
<head>
    <title>Sales Analytics Report</title>

    <style>
        body {
            font-family: Arial;
            margin: 40px;
        }

        h1 {
            color: #1f4e79;
        }

        .card {
            background: #f5f5f5;
            padding: 15px;
            margin: 10px 0;
            border-radius: 10px;
        }

        img {
            width: 700px;
        }
    </style>

</head>

<body>

<h1>Sales Analytics Report</h1>

<div class="card">
    <h2>Executive Summary</h2>

    <p>Total Sales: ₹{{ insights.total_sales }}</p>

    <p>Average Sales: ₹{{ insights.average_sales }}</p>

    <p>Top Category: {{ insights.top_category }}</p>
</div>

<div class="card">
    <h2>Sales Chart</h2>

    <img src="{{ chart_path }}">
</div>

</body>
</html>